[Unit]
Description=Robot Video Stream
After=wifi-direct.service network.target

[Service]
ExecStart=WORKING_DIR/scripts/start-video-stream.sh
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
